<%- layout('layout/boilerplate.ejs') -%>
<div id="form-row">
    <form action="/login" method="post">
        <h3>Login<span>.</span></h3>
        <div class="mb-3">
            <label for="username" class="form-label"><strong>Username:</strong></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter the username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"><strong>Password:</strong></label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter the password">
          </div>
          <button type="submit" class="btn login-btn">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Create an Account</a></p>
</div>